<VirtualHost *:{{ webserver_port }}>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ webserver_document_root }}

    <Directory {{ webserver_document_root }}>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
